@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-grid-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.custom-grid-3 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.custom-grid-4 {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
